<p-growl [value]="msgs" sticky="sticky"></p-growl>
<p-messages [value]="msgs"></p-messages>
<p-menubar [model]="cItems"></p-menubar>

<br/>
<div id="content">
    <div>
        <button type="button" icon="fa-check" iconPos="left" pButton (click)="clear()" label="secondary" class="ui-button-secondary"></button>
        <button type="button" icon="fa-check" iconPos="left" pButton (click)="showSuccess()" label="Success" class="ui-button-success"></button>
        <button type="button" icon="fa-check" iconPos="left" pButton (click)="showInfo()" label="Info" class="ui-button-info"></button>
        <button type="button" icon="fa-check" iconPos="left" pButton (click)="showWarn()" label="Warn" class="ui-button-warning"></button>
        <button type="button" icon="fa-check" iconPos="left" pButton (click)="showError()" label="Error" class="ui-button-error"></button>
        <button type="button" icon="fa-check" iconPos="left" pButton (click)="showMultiple()" label="Multiple"></button>
        <button type="button" icon="fa-check" iconPos="left" pButton (click)="clear()" label="Clear" icon="fa-close" style="float:right"></button>
    </div>
</div>
<router-outlet></router-outlet>
